{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>

  <header role="banner">{% include header.html %}</header>

  <div class="container">

    <div class="row">
      <div class="span8">

        <ul class="thumbnails articles">
          {% assign index = true %}
          {% for post in paginator.posts %}
          {% assign content = post.content %}
            {% include article.html %}
          {% endfor %}
          <!--li class="span4">
            <div class="thumbnail">  
              <img src="images/butterfly.png" alt="">
              <div class="title">
                <h4><a href="article.aspx">Butterflies in the... snow?</a></h4>
              </div>
              <div class="text">
                <p>As the weather starts to warm up (yes, it will), we can expect to receive a few calls about finding a butterfly outside on the snow. How does this happen? Well, not all of our butterflies go south for the winter.</p>
              </div>
              <a href="bluecoat.aspx">
                <div class="author">
                  <img src="images/bill5.jpg" alt="Bill Nye">
                  <p><strong>Bill Nye</strong>, The Science Guy</p>
                </div>
              </a>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">  
              <img src="images/butterfly.png" alt="">
              <div class="title">
                <h4><a href="article.aspx">Butterflies in the... snow?</a></h4>
              </div>
              <div class="text">
                <p>As the weather starts to warm up (yes, it will), we can expect to receive a few calls about finding a butterfly outside on the snow. How does this happen? Well, not all of our butterflies go south for the winter.</p>
              </div>
              <a href="bluecoat.aspx">
                <div class="author">
                  <img src="images/bill1.jpg" alt="Bill Nye">
                  <p><strong>Bill Nye</strong>, The Science Guy</p>
                </div>
              </a>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">  
              <img src="images/butterfly.png" alt="">
              <div class="title">
                <h4><a href="article.aspx">Butterflies in the... snow?</a></h4>
              </div>
              <div class="text">
                <p>As the weather starts to warm up (yes, it will), we can expect to receive a few calls about finding a butterfly outside on the snow. How does this happen? Well, not all of our butterflies go south for the winter.</p>
              </div>
              <a href="bluecoat.aspx">
                <div class="author">
                  <img src="images/bill1.jpg" alt="Bill Nye">
                  <p><strong>Bill Nye</strong>, The Science Guy</p>
                </div>
              </a>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">  
              <img src="images/butterfly.png" alt="">
              <div class="title">
                <h4><a href="article.aspx">Butterflies in the... snow?</a></h4>
              </div>
              <div class="text">
                <p>As the weather starts to warm up (yes, it will), we can expect to receive a few calls about finding a butterfly outside on the snow. How does this happen? Well, not all of our butterflies go south for the winter.</p>
              </div>
              <a href="bluecoat.aspx">
                <div class="author">
                  <img src="images/bill1.jpg" alt="Bill Nye">
                  <p><strong>Bill Nye</strong>, The Science Guy</p>
                </div>
              </a>
            </div>
          </li-->
          <li class="span8">
            <hr/>
          </li>
        </ul>
      </div>

      <div class="span4">

        <ul class="thumbnails">
          <li class="span4">
            <h3 class="legend">Ask a Scientist</h3>
            <form class="ask-a-scientist">
              <fieldset>
                <label>Got a science question? We've got answers.</label>
                <textarea id="question"></textarea><br/>
                <a href="#amaModal" role="button" class="btn" data-toggle="modal" id="amaModalButton">Ask</a>
              </fieldset>
              <div id="amaModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel">Ask a Scientist</h3>
                </div>
                <div class="modal-body">
                  <fieldset>
                    <label>What's your name?</label>
                    <div class="input-prepend">
                      <span class="add-on"><i class="icon-user"></i></span>
                      <input class="span3" type="text">
                    </div>
                  </fieldset>
                  <fieldset>
                    <label>Where are you from?</label>
                    <div class="input-prepend">
                      <span class="add-on"><i class="icon-map-marker"></i></span>
                      <input class="span3" type="text">
                    </div>
                  </fieldset>
                  <fieldset>
                    <label>What's your email address?</label>
                    <div class="input-prepend">
                      <span class="add-on"><i class="icon-envelope"></i></span>
                      <input class="span3" type="text">
                    </div>
                  </fieldset>
                  <fieldset>
                    <label>What's your question?</label>
                    <textarea></textarea><br/>
                  </fieldset>
                </div>
                <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  <button class="btn btn-primary">Ask</button>
                </div>
              </div>
            </form>

            <h5>Most-Popular Answers</h5>
            <ol>
              <li><a href="q+a.aspx">Why is the sky blue?</a></li>
              <li><a href="q+a.aspx">How come vinegar and baking soda react?</a></li>
              <li><a href="q+a.aspx">How does evolution work?</a></li>
              <li><a href="q+a.aspx">Can humans live forever?</a></li>
              <li><a href="q+a.aspx">What is our brain made of and how does it work?</a></li>
            </ol>
          </li>
          <li class="span4">
            <h3 class="legend">Meet Our Bluecoats</h3>
            <ul class="thumbnails">
              <li class="span1">
                <a href="bluecoat.aspx" class="thumbnail">
                  <img src="images/bill1.jpg" alt="">
                </a>
              </li>
              <li class="span1">
                <a href="bluecoat.aspx" class="thumbnail">
                  <img src="images/bill2.jpg" alt="">
                </a>
              </li>
              <li class="span1">
                <a href="bluecoat.aspx" class="thumbnail">
                  <img src="images/bill3.jpg" alt="">
                </a>
              </li>
              <li class="span1">
                <a href="bluecoat.aspx" class="thumbnail">
                  <img src="images/bill4.jpg" alt="">
                </a>
              </li>
              <li class="span1">
                <a href="bluecoat.aspx" class="thumbnail">
                  <img src="images/bill5.jpg" alt="">
                </a>
              </li>
              <li class="span1">
                <a href="bluecoat.aspx" class="thumbnail">
                  <img src="images/bill6.jpg" alt="">
                </a>
              </li>
              <li class="span1">
                <a href="bluecoat.aspx" class="thumbnail">
                  <img src="images/bill7.jpg" alt="">
                </a>
              </li>
              <li class="span1">
                <a href="bluecoat.aspx" class="thumbnail">
                  <img src="images/bill8.jpg" alt="">
                </a>
              </li>
              <li class="span1">
                <a href="bluecoat.aspx" class="thumbnail">
                  <img src="images/bill9.jpg" alt="">
                </a>
              </li>
              <li class="span1">
                <a href="bluecoat.aspx" class="thumbnail">
                  <img src="images/bill4.jpg" alt="">
                </a>
              </li>
              <li class="span1">
                <a href="bluecoat.aspx" class="thumbnail">
                  <img src="images/bill5.jpg" alt="">
                </a>
              </li>
              <li class="span1">
                <a href="bluecoat.aspx" class="thumbnail">
                  <img src="images/bill6.jpg" alt="">
                </a>
              </li>
            </ul>
          </li>
          <!--li class="span4">
            <div id="latest_tweets">
              <a class="twitter-timeline" href="https://twitter.com/ScienceNorth"  data-widget-id="315198006548893696">Tweets by @ScienceNorth</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </li-->
          <li class="span4">
            <div>
              <a class="twitter-timeline"  href="https://twitter.com/ScienceNorth/science-north-staff"  data-widget-id="319896535779385345">Tweets from @ScienceNorth/science-north-staff</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </li>
          <li class="span4" id="follow">
            <h3 class="legend">Follow us, if you like:</h3>
            <p><a href="#"><img src="images/twitter-bird-white-on-blue.png" alt="Twitter" /> Twitter @ScienceNorth</a></p>
            <p><a href="#"><img src="images/f_logo.png" alt="Facebook" /> Facebook</a></p>  
            <p><a href="#"><img src="images/rss-feeds.png" alt="RSS Feed" /> RSS Feed</a></p>
          </li>
        </ul>

      </div>
    </div>

  </div>

{% include footer.html %}