    <div class="container">
      <div class="row">
        <div class="span12">
          <hr/>
          <h3>You've reached the end of the page. <small>Why not visit <a href="http://www.sciencenorth.ca">Science North</a> or <a href="http://www.sciencenorth.ca/dynamic-earth">Dynamic Earth</a>?</small></h3>
        </div>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="assets/bootstrap.js"></script>
    <script src="assets/coolscience.js"></script>
  </body>
</html>