<li class="span4">
  <div class="thumbnail article">
    <img src="{{ post.img }}" />
    <div class="title">
      {% if index %}
        <h4><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h4>
      {% else %}
        <h4>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h4>
      {% endif %}
    </div>
    {% if index %}
      <div class="text">{{ content | excerpt }}</div>
    {% else %}
      <div class="text">{{ content }}</div>
    {% endif %}
    <a href="bluecoat.aspx">
      <div class="author">
        <img alt="Bill Nye" src="images/bill5.jpg">
        <p>
          <strong>Bill Nye</strong>
          , The Science Guy
        </p>
      </div>
    </a>
  </div>
</li>